<!DOCTYPE html>
<html lang="en">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const usernameInput = document.getElementById('username');
            const instanceIdInput = document.getElementById('instance_id');
    
            function removeSpaces(input) {
                input.value = input.value.replace(/\s+/g, '');
            }
    
            usernameInput.addEventListener('input', function () {
                removeSpaces(this);
            });
    
            instanceIdInput.addEventListener('input', function () {
                removeSpaces(this);
            });
        });
    </script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>七猫密码生成器</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center mb-4">七猫DBA密码生成器</h1>
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">用户名:</label>
                                <input type="text" name="username" id="username" class="form-control" value="{{ username }}" required>
                            </div>
                            <div class="mb-3">
                                <label for="instance_id" class="form-label">实例 ID:</label>
                                <input type="text" name="instance_id" id="instance_id" class="form-control" value="{{ instance_id }}" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">生成密码</button>
                            </div>
                        </form>
                        {% if password %}
                        <div class="mt-4">
                            <h2>生成的密码:</h2>
                            <div class="alert alert-info">
                                {{ password }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="mt-4">
                            <h2>密码记录</h2>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">实例 ID</th>
                                        <th scope="col">用户名</th>
                                        <th scope="col">生成的密码</th>
                                        <th scope="col">生成时间</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in records %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ record.instance_id }}</td>
                                        <td>{{ record.username }}</td>
                                        <td>{{ record.generated_password }}</td>
                                        <td>{{ record.created_at|date:"Y-m-d" }} {{ record.created_at|time:"H:i:s" }}
                                        </td>
                                        <td>
                                            <form method="POST" action="{% url 'delete_record' record.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">删除</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
